<div class="items-center container divide-y divide-gray-200 dark:divide-gray-700">
  <% unless @appointments.present? %>
    You don't have appointments
  <% else %>
    <% [@new_appointments, @completed_appointments].each do |collection| %>
      <h1 class="mb-4"> <%= collection.first.status.capitalize + " appointments" if collection.present? %> </h1>
      <% collection.each do |appointment| %>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          <%= link_to appointment_path(appointment) do %>
            <li class="pb-3 sm:pb-4">
              <div class="flex items-center space-x-4">
                <% if current_user.doctor? %>
                  <div class="flex-shrink-0">
                    <%= image_tag appointment.patient.display_avatar, class: "w-8 h-8 rounded-full"%>
                  </div>
                <% else %>
                  <div class="flex-shrink-0">
                    <%= image_tag appointment.doctor.display_avatar, class: "w-8 h-8 rounded-full"%>
                  </div>
                <% end %>
                <div class="flex-1 min-w-0">
                  <h1>
                    <%= "Appointment reason: #{appointment.title}" %>
                  </h1>
                  <p class="text-sm font-lighttext-gray-900 truncate dark:text-white">
                    <% person = current_user.doctor? ? appointment.patient : appointment.doctor %>
                    <%= [person.type, person.full_name].join(": ") %>
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>